@tailwind base;

/* Firefox */
* {
  /*scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);*/
  
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
  /*background-image: -webkit-linear-gradient(45deg,#ffbd84,#ff1f8e);*/
   /* background-image: -o-linear-gradient(45deg,#ffbd84,#ff1f8e);*/
    /* background-image: linear-gradient(45deg,#ffbd84,#ff1f8e);*/
    /* background-image: linear-gradient(45deg,#000,#000);*/

}

*::-webkit-scrollbar-track {
  /*background: var(--primary);
  border-radius: 5px;*/
 /* background-image: -webkit-linear-gradient(45deg,#ffbd84,#ff1f8e);*/
    /*background-image: -o-linear-gradient(45deg,#ffbd84,#ff1f8e);*/
    /* background-image: linear-gradient(45deg,#ffbd84,#ff1f8e);*/
}


*::-webkit-scrollbar-thumb {
    background-image: -webkit-linear-gradient(45deg,#ffbd84,#ff1f8e);
    background-image: -o-linear-gradient(45deg,#ffbd84,#ff1f8e);
     background-image: linear-gradient(45deg,#ffbd84,#ff1f8e); 
}


@tailwind components;
@tailwind utilities;